# Python
__pycache__/
*.pyc

# Virtual environment
.venv/

# Environment
.env

# Data
data/
*.csv
*.zip
*.mp4
*.avi

# Images / raw dataset
*.jpg
*.jpeg
*.png

# Model files
saved_models/*/
*.pth
*.pt

# DVC metadata
!saved_models/*.dvc

# MLflow
mlruns/

# VS Code
.vscode/

# Executable / local tools
ngrok.exe

keys/
*.json